section {
  display: flex;
  flex-direction: column;
  width: 85%; /* Set the width to 70% */
  margin: 0 auto; /* Center the component horizontally */
  align-items: center;
}

.mat-divider {
  border-top-color: white;
}

.type-header p {
  font-family: 'Merriweather';
  margin-bottom: 0;
}

.nested-text {
  font-family: 'Roboto';
  font-size: 0.9em;
}

.main-table {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.type-header {
  display: flex;
  flex-direction: column;
  text-align: center; /* Center the content horizontally */
}

.nested-td { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1px 0 1px;

}

.nested-td tr {
  display: flex;
  justify-content: space-between;
}