<div *ngIf="duties$ | async as duties">
  Dyżury:
  <div *ngIf="!duties.length">
    <p> no duties to display !</p>
  </div>

  <div *ngIf="duties.length" class="card-list" >
    <mat-card *ngFor="let type of dutyTypes" class="card-list">
      <mat-card-header>
        <mat-card-title>{{ type }}</mat-card-title>
      </mat-card-header>
      <mat-card *ngFor="let card of duties | filterDuty : type" class="duty-card" >
        <mat-card-content>
          {{ card.who }}
          <div>
            {{ card.startTime }} -
            {{ card.endTime }}
          </div>
        </mat-card-content>
      </mat-card>
    </mat-card>
  </div>

</div>
