<div *ngIf="fullDataEmployee">
    <div class="center-dialog">
        <div class="circle-with-text-gpt">
            {{ (fullDataEmployee.firstName | slice:0:1) }}{{ (fullDataEmployee.lastName | slice:0:1) }}
         </div>
    </div>
    <div>
         <div class="card-row">
            <mat-card class="card-display">
                <mat-card-header>
                  <mat-card-title>{{ fullDataEmployee.firstName }} {{ fullDataEmployee.lastName }}</mat-card-title>
                  <mat-card-subtitle>Imię i Naziwsko</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
            <mat-card class="card-display">
                <mat-card-header>
                  <mat-card-title>{{ fullDataEmployee.email }}</mat-card-title>
                  <mat-card-subtitle>Email</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
         </div>
         <div class="card-row">
            <mat-card class="card-display">
                <mat-card-header>
                  <mat-card-title>{{ fullDataEmployee.title}}</mat-card-title>
                  <mat-card-subtitle>Stanowisko</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
            <mat-card class="card-display">
                <mat-card-header>
                  <mat-card-title>{{ fullDataEmployee.phoneNumber}} </mat-card-title>
                  <mat-card-subtitle>Telefon</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
         </div>
         <div class="card-row">
            <mat-card class="card-display" >
                <mat-card-header>
                  <mat-card-title>{{ fullDataEmployee.hireDate}}</mat-card-title>
                  <mat-card-subtitle>Data Zatrudnienia</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
            <mat-card class="card-display">
                <mat-card-header>
                  <mat-card-title>{{ fullDataEmployee.birthDate}} </mat-card-title>
                  <mat-card-subtitle>Data Urodzenia</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
         </div>
         <div class="card-row" style="margin-bottom: 15px; justify-content: center;">
          <mat-card class="card-display" >
              <mat-card-header>
                <mat-card-title>{{ fullDataEmployee.teamName}}</mat-card-title>
                <mat-card-subtitle>Zespół</mat-card-subtitle>
              </mat-card-header>
          </mat-card>
         </div>
    </div>
</div>
