<section *ngIf="shouldComponentBeRender" >

    <div class="header">
        <h3 style="font-family: 'Roboto'; margin-left: 20px;">Dodaj nowy Aplikacje</h3>
        <div style="margin-right: 20px;">
            <button mat-icon-button (click)="shouldDisplayForm(false)"><mat-icon>remove_circle_outline</mat-icon></button>
        </div>
    </div>

    <form [formGroup]="applicationForm" (ngSubmit)="addApplication()">

        <div class="form-container">
            <mat-form-field style="max-height: 70px; width: 300px;">
                <mat-label>Nazwa</mat-label>
                <input matInput placeholder="Nazwa Kontaktu ..." formControlName="name">
            </mat-form-field>
        </div>

        <div class="flex-envs">
            <div class="left-env">
                <div class="form-container">
                    <p> Aplikacja Produkcyjna</p>
        
                    <mat-form-field style="max-height: 70px; width: 300px;">
                        <mat-label>Url</mat-label>
                        <input matInput placeholder="Kontakt ..." formControlName="prodUrl">
                    </mat-form-field>

                    <mat-form-field style="max-height: 70px; width: 300px;">
                        <mat-label>Komentarz</mat-label>
                        <input matInput placeholder="Kontakt ..." formControlName="prodComment">
                    </mat-form-field>
                </div>
            </div>

            <div class="right-env">
                <div class="form-container">
                    <p> Aplikacja Testowa</p>
        
                    <mat-form-field style="max-height: 70px; width: 300px;">
                        <mat-label>Url</mat-label>
                        <input matInput placeholder="Kontakt ..." formControlName="testUrl">
                    </mat-form-field>

                    <mat-form-field style="max-height: 70px; width: 300px;">
                        <mat-label>Komentarz</mat-label>
                        <input matInput placeholder="Kontakt ..." formControlName="testComment">
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="form-container">
            <mat-form-field style="max-height: 70px">
                <mat-label>W kolejności za</mat-label>
                <mat-select formControlName="order">
                  <mat-option *ngFor="let envApp of appsShadow; let i = index" [value]="envApp.order" [ngClass]="{'first-option': i === 0}">
                      {{envApp.envAppName}}
                  </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field style="max-height: 70px; width: 300px;">
                <mat-label>Tagi</mat-label>
                <input matInput placeholder="Rozdzielone znakiem ;" formControlName="tags">
            </mat-form-field>
        </div>

        <div class="end-flex">
            Zapisz:
            <button mat-icon-button type="submit" [disabled] = "!applicationForm.valid">
                <mat-icon>add_circle_outline</mat-icon>
            </button>
        </div>
    </form>
    
    <div class="end-flex">
        Przerwij dodawanie nowej aplikacji
        <button mat-icon-button (click)="shouldDisplayForm(false)">
            <mat-icon>remove_circle_outline</mat-icon>
        </button>
    </div>

</section>