.button-row {
  margin: 5px 0 5px 0;
  display: flex;
  align-items: center;
}

:host {
  display: flex;
  flex-direction: column;
  width: 85%; /* Make the parent component take up 100% of available space */
}


.post-container {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.post-header {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.post-content {
  margin-bottom: 10px;
}

.post-footer {
  font-size: 0.8em;
  color: #888;
}

.center-align {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#admin-components > * {
  margin: 15px 0 15px 0;
}