:host {
  display: flex;
  flex-direction: column;
  width: 85%; /* Make the parent component take up 100% of available space */
}


.button-row {
  margin: 5px 0 5px 0;
  display: flex;
  align-items: center;
}


.post-row { 
  margin-bottom: 30px;
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;

}

.post-main-header {
  border-bottom: 2px solid #ccc;
  width: 100%;
  background-color: #fff;
}

.paginator {
  background-color: transparent;
}

#admin-components > * {
  margin: 15px 0 15px 0;
}
