<div *ngIf="posts$ | async as posts">
  <p>content-home works!</p>

  <div *ngIf="!posts.length">
     <p> no posts to display !</p>
  </div>

  <div *ngIf="posts.length" class="card-list" >
    <mat-card *ngFor="let card of posts" class="card-item">
      <mat-card-header>
        <mat-card-title>{{ card.title }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        {{ card.message }}
        {{ card.creationTime }}
        {{ card.user }}
      </mat-card-content>
    </mat-card>
  </div>

</div>
