mat-list-item:nth-child(odd) {
  background-color: #ebf4fc; /* Change this to your desired background color */
}

:host {
  display: flex;
  flex-direction: column;
  width: 85%; /* Make the parent component take up 100% of available space */
}

.stylize-center-item {
  margin: 0;
  font-style: oblique;
}

.button-row {
  margin: 5px 0 5px 0;
}