<div *ngIf="documents$ | async as documents">
  <div *ngIf="!documents.length">
    <p> no documents to display !</p>
  </div>

  <section *ngIf="isUserAuthenticated">
    <div class="button-row"> 
      <button mat-raised-button color="primary" (click)="addGroup()" style="margin-left: 5px;">Nowa Grupa</button>
      <button mat-raised-button color="primary" (click)="openDialogSorting()" style="margin-left: 5px;">Sortowanie</button>
    </div>
    <app-new-document-group [docTypes]="docTypes" (newDocumentGroupEvent)="addDocumentGroup($event)" />
    <mat-divider/>
  </section>

  <div *ngFor="let docType of docTypes">
    <div class="center-align">
      <div>
        {{docType.topic}}
        <span *ngIf="isUserAuthenticated" >
          <button mat-icon-button (click)="addDocument(docType.topic)" >
            <mat-icon>insert_drive_file</mat-icon>
          </button>
        </span>
      </div>
      <div *ngIf="isUserAuthenticated && docType.topic">
        <button mat-icon-button (click)="openDialogEdit(docType)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteGroup(docType)">
          <mat-icon>remove_circle_outline</mat-icon>
        </button>
      </div>
    </div> 
    
    <mat-nav-list class="docs-list">
      <mat-list-item *ngFor="let doc of documents | FilterDocument : docType.topic" (click)="getDocumentData(doc.fileName)">
        <h3 matListItemTitle style="font-weight: bold">{{ doc.fileName }} </h3>
        <p matListItemLine class="stylize-center-item"> {{doc.comment}}</p>
        <p matListItemLine style="text-align: end"> {{(doc.creator?.length) ? (doc.creator + ',') : ('')}} {{doc.creationTime | date: 'yyyy-MM-dd'}} </p>
      </mat-list-item>
    </mat-nav-list>
  </div>

</div>

