.sidenav {
  border: 1px solid white;
  width: 200px;
  background: #576E5E;
  color: white;
  padding: 16px;
  text-align: center;
}

.sidenav.left-sidenav {
  width: 200px;
}

.sidenav.right-sidenav {
  width: 400px;
}

mat-toolbar {
  background: #A89985;
  color: white;
}

.content {
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.mat-drawer-content {
  overflow: hidden !important;
}
