<section *ngIf="shouldComponentBeRender">

    <div class="header">
        <h1 style="font-family: 'Roboto'; margin-left: 20px;">Nowy rodzaj dyżuru</h1>
        <div style="margin-right: 20px;">
            <button mat-icon-button (click)="shouldDisplayForm(false)"><mat-icon>remove_circle_outline</mat-icon></button>
        </div>
    </div>

    <div class="main-flex">
        <form [formGroup]="dutyTypeForm">
            <mat-form-field  style="width: 300px; margin-right: 20px;">
                <mat-label>Nazwa Dyżuru</mat-label>
                <input matInput placeholder="nazwa ..." formControlName="name" >
            </mat-form-field>

            <mat-form-field  style="width: 150px;">
                <mat-label>Skrót</mat-label>
                <input matInput placeholder="max 4 litery ..." formControlName="shortcut" >
            </mat-form-field>
        </form>

        <div>
            <button mat-raised-button (click)="addDutyType()" style="margin-left: 5px; width: 75px;" >Zapisz</button>
        </div>
    </div>

        <div class="end-flex">
            Przerwij dodawanie nowego rodzaju dyżurów:
            <button mat-icon-button (click)="shouldDisplayForm(false)">
                <mat-icon>remove_circle_outline</mat-icon>
            </button>
        </div>

</section>