<div style="display: inline-flex">
  <div class="left-side-header">
    <span>Intranety, </span>
    <ng-content select="[tab]"/>
  </div>

  <div class="right-side-header">
    <div class="inner-right-side-header">
      <span> {{userMail}} </span>
      <div *ngIf="userMail?.trim()?.length" class="icon-center">
          <button mat-icon-button matTooltip="Wylogowanie" (click)="logoutUser()">
            <mat-icon>power_settings_new</mat-icon>
          </button>
      </div>
    </div>
  </div>
</div>
