div {
  font-size: 19px;
  margin: 4px;
}

.right-side-header {
  margin-left: -54px;
  text-align: right;
  position: fixed;
  width: 100%;
}

.inner-right-side-header {
  display: inline-flex;
  margin-top: 0;
}

.icon-center {
  margin-top: -8px;
}
