:host {
  display: flex;
  flex-direction: column;
  width: 100%/* Make the parent component take up 100% of available space */
}

.left-field{
  display: flex;
  flex-direction: column;
}

.center-align {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mat-icon { 
  /* override angular class */
  vertical-align: middle;
}

