<h2 mat-dialog-title>Sortowanie grup dokumentów</h2>
<mat-dialog-content class="mat-typography">
    <div *ngFor="let docType of groupsDataShadow">
        <div class="center-align">
            <div>
                {{docType.topic}}
                <span *ngIf="docType.topic">
                    <button mat-icon-button (click)="setOrder('DOWN', docType.order)">
                    <mat-icon>arrow_downward</mat-icon>
                    </button>
                    <button mat-icon-button (click)="setOrder('UP', docType.order)">
                    <mat-icon>arrow_upward</mat-icon>
                    </button>
                </span>
            </div>
        </div>
    </div>    
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cofnij</button>
    <button mat-button [mat-dialog-close]="groupsDataShadow" cdkFocusInitial>Zapisz</button>
</mat-dialog-actions>