<footer>
    <div class="footer-content">
      <div class="footer-links">
        <ul>
          <li (click)="scrollToTop()">
            <button mat-button style="color: white;">
              <a style="font-family: 'Roboto';" >Strona Główna</a>
            </button>
          </li>
        </ul>
      </div>
      <div class="footer-social">
        <span *ngIf="socialMediaTwitter && socialMediaTwitter.active">
          <a [href]="socialMediaTwitter.link" target="_blank"><img src="assets/images/social_twitter.png"/></a>
        </span>
        <span *ngIf="socialMediaFacebook && socialMediaFacebook.active">
          <a [href]="socialMediaFacebook.link" target="_blank"><img src="assets/images/social_facebook.png"/></a>
        </span>
        <span *ngIf="socialMediaLinkedin && socialMediaLinkedin.active">
          <a [href]="socialMediaLinkedin.link" target="_blank"><img src="assets/images/social_linkedin.png"/></a>
        </span>
        <span *ngIf="socialMediaYoutube && socialMediaYoutube.active">
          <a [href]="socialMediaYoutube.link" target="_blank"><img src="assets/images/social_youtube.png"/></a>
        </span>
        <span *ngIf="socialMediaInstagram && socialMediaInstagram.active">
          <a [href]="socialMediaInstagram.link" target="_blank"><img src="assets/images/social_instagram.png"/></a>
        </span>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2024 Not Existing Company. All rights reserved.</p>
    </div>
  </footer>