<section *ngIf="isUserAuthenticated">

    <div class="button-row"> 
        <button mat-raised-button  (click)="openNewUser()"style="margin-left: 5px; background-color: #A89985;">Nowy Użytkownik</button>
        <button mat-raised-button  (click)="openChangePassword()" style="margin-left: 5px; background-color: #A89985;">Zmiana Hasła</button>
      </div>
      <mat-divider/>
      <div id="admin-components">
        <app-new-user />
        <app-change-password />
    </div>

    <div style="background-color: #f0f0f0; margin-bottom: 20px;">
        <div class="header">
            <h4 style="font-family: 'Roboto'; margin-left: 20px;">Twoje Dane</h4>
        </div>
        <div>
            <div class="param-row">
                <div class="param-row-nested">
                    <mat-form-field  style="width: 150px;" >
                        <mat-label>Imię</mat-label>
                        <input matInput placeholder="imie" [disabled]="userToDisplay" [(ngModel)]="logedUser.firstName">
                    </mat-form-field>
                    <mat-form-field style="width: 150px;" >
                        <mat-label>Nazwisko</mat-label>
                        <input matInput placeholder="nazwisko" [disabled]="userToDisplay" [(ngModel)]="logedUser.lastName">
                    </mat-form-field>
                </div>
                <div class="param-row-nested">
                    <mat-form-field  style="width: 150px;" >
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="email" [disabled]="userToDisplay" [(ngModel)]="logedUser.email">
                    </mat-form-field>
                </div>
                <div *ngIf="!userToDisplay; then edit_logged else display_logged"></div>
                <ng-template #edit_logged>
                    <div>
                        <button mat-raised-button  style="margin-left: 5px; width: 75px;" >Zapisz</button>
                        <button mat-raised-button  (click)="undoEditUser()" style="margin-left: 5px; width: 75px;" >Cofnij</button>
                    </div>
                </ng-template>
                <ng-template #display_logged>
                    <div>
                        <button mat-raised-button  (click)="editModeUser()" style="margin-left: 5px; width: 75px;" >Edytuj</button>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>

    <div style="background-color: #f0f0f0; ; margin-bottom: 20px;">
        <div class="header">
            <h4 style="font-family: 'Roboto'; margin-left: 20px;">Użytkownicy </h4>
        </div>
        <div style="background-color: #E0D8CC; padding: 1px; border: #D2C4B6 solid; overflow: auto; max-height: 700px; margin-bottom: 20px;"  *ngIf="users$ | async as users">
            <table style="width: 100%;">
                <tr style="font-family: 'Roboto'; color: #3D4D40;">
                    <th>Użytkownik</th>
                    <th>Uprawnienia</th>
                    <th>Aktywny</th>
                </tr>
                <tr *ngFor="let admin of users" class="center-align">
                    <td class="row-emp-item" >
                        <div class="circle-with-text-gpt" >
                            {{ (admin.firstName | slice:0:1) }}{{ (admin.lastName | slice:0:1) }}
                        </div>
                        <div class="text-emp">
                            {{ admin.firstName }} {{ admin.lastName }}
                        </div>
                    </td>
                    <td>
                        <mat-checkbox (change)="checkboxManagerChanged(admin)" [checked]="admin.admin">Administrator</mat-checkbox>
                        <mat-checkbox (change)="checkboxAdminChanged(admin)" [checked]="admin.manager">Kierownik</mat-checkbox>
                    </td>
                    <td>
                        <mat-checkbox (change)="checkboxEnabledChanged(admin)" [checked]="admin.active"></mat-checkbox>
                    </td>
                </tr>
            </table>
        </div>
        <div style="margin-left: 45%; padding-bottom: 10px;">
            <button mat-raised-button style="margin-left: 5px; width: 75px;" >Zapisz</button>
            <button mat-raised-button style="margin-left: 5px; width: 75px;" >Wycofaj</button>
        </div>
    </div>

    <div style="background-color: #f0f0f0; margin-bottom: 20px;">
        <div class="header">
            <h4 style="font-family: 'Roboto'; margin-left: 20px;">Parametry </h4>
        </div>
        <div>
            <div>
                <div class="param-row">
                    <div class="param-row-nested">
                        <p>Godziny dyżurów</p>
                        <mat-form-field  style="width: 150px;" >
                            <mat-label>Od</mat-label>
                            <input matInput placeholder="Godzina" [disabled]="!is_param_duty_time_edditing" [(ngModel)]="param_duty_time_start">
                        </mat-form-field>
                        <mat-form-field  style="width: 150px;" >
                            <mat-label>Do</mat-label>
                            <input matInput placeholder="Godzina" [disabled]="!is_param_duty_time_edditing" [(ngModel)]="param_duty_time_end">
                        </mat-form-field>
                        <mat-icon matTooltip="Wpływa na wskaźnik wypełnionego dyżuru. Zmiana oddziałowywuje również na przeszłe wyniki.">help_outline</mat-icon>
                    </div>
    
                    <div *ngIf="is_param_duty_time_edditing; then edit_0 else display_0"></div>
                    <ng-template #edit_0>
                        <div>
                            <button mat-raised-button  (click)="saveDutyTimeParam()" style="margin-left: 5px; width: 75px;" >Zapisz</button>
                            <button mat-raised-button  (click)="undoEditDutyParam()" style="margin-left: 5px; width: 75px;" >Cofnij</button>
                        </div>
                    </ng-template>
                    <ng-template #display_0>
                        <div>
                            <button mat-raised-button  (click)="editModeDutyParam()" style="margin-left: 5px; width: 75px;" >Edytuj</button>
                        </div>
                    </ng-template>
                </div>
            </div>
            <div *ngIf="socialMediaTwitter">
                <app-social-media-param [param]="socialMediaTwitter" (changeEvent)="onChangeSocialParamEvent()">
                    <span choosen-social-media> Twiter url: </span>
                </app-social-media-param>
            </div>
            <div *ngIf="socialMediaFacebook">
                <app-social-media-param [param]="socialMediaFacebook" (changeEvent)="onChangeSocialParamEvent()">
                    <span choosen-social-media> Facebook url: </span>
                </app-social-media-param>
            </div>
            <div *ngIf="socialMediaLinkedin">
                <app-social-media-param [param]="socialMediaLinkedin" (changeEvent)="onChangeSocialParamEvent()"> 
                    <span choosen-social-media> Linkedin url: </span>
                </app-social-media-param>
            </div>
            <div *ngIf="socialMediaYoutube">
                <app-social-media-param [param]="socialMediaYoutube" (changeEvent)="onChangeSocialParamEvent()">
                    <span choosen-social-media> Youtube url: </span>
                </app-social-media-param>
            </div>
            <div *ngIf="socialMediaInstagram">
                <app-social-media-param [param]="socialMediaInstagram" (changeEvent)="onChangeSocialParamEvent()">
                    <span choosen-social-media> Instagram url: </span>
                </app-social-media-param>
            </div>
        </div>
    </div>

</section>