.post-main-header {
    border-bottom: 2px solid #ccc;
    width: 100%;
    background-color: #fff;
  }
  
  .post-header {
    display: flex;
    align-items: center;
    font-size: 1.1em;
    font-weight: bold;
    font-family: 'Merriweather';
  }
  
  .post-under-head {
    font-size: 0.8em;
    font-family: 'Merriweather';
  }
  
  .post-under-head p{
    color: #888;
    display: inline;
  }
  
  .center-align {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }