<div class="post-main-header">
    <div class="center-align">
    <div class="post-header">
        <img src="assets/images/chat-robot-2.png" style="width: 65px; height: 65px; margin-right: 15px; border-radius: 50%; border: 2px solid #3D4D40; background-color: #ccc;" >
        <div style="display: flex; flex-direction: column;">
        Dzienna Kartka Z Kalendarza
        <div class="post-under-head"> <p>Dodano:</p> {{ dailyPost.dateTime }} </div> 
        </div>
    </div>
    <div *ngIf="isUserAuthenticated">
        <button mat-icon-button>
        <mat-icon>remove_circle_outline</mat-icon>
        </button>
    </div>
    </div>
</div>
<div style="font-family: 'Roboto'"> 
    <p> Dzisiaj mamy {{today | date: 'd/M/yyyy'}}, wschód słońca o {{dailyPost.sunrise}}, zachód {{dailyPost.sunset}}.</p>
    <p>W dniu dzisiejszym obchodzimy imieniny {{dailyPost.nameDayStrings}}.</p>
    <p *ngIf="dailyPost.calendarHolidayStrings.length"> Obchodzone dzisiaj wydarzenia: {{dailyPost.calendarHolidayStrings}}.</p>
</div>
