.mat-sidenav {
  margin: 16px;
  width: 200px;
  border-right: none;
  background: #002b5c;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

mat-toolbar {
  background: #006a9f;
  color: white;
}

.content {
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

