<section>
    <div class="main-flex">
        <form [formGroup]="form" (ngSubmit)="editDutyType()">
            <mat-form-field  style="width: 300px; margin-right: 20px;">
                <mat-label>Nazwa Dyżuru</mat-label>
                <input matInput placeholder="Grupa" formControlName="type">
            </mat-form-field>

            <mat-form-field  style="width: 150px;">
                <mat-label>Skrót</mat-label>
                <input matInput placeholder="Grupa" formControlName="shortcut">
            </mat-form-field>
        </form>

        <div>
            <button mat-raised-button  style="margin-left: 5px; width: 75px;" >Zapisz</button>
            <button mat-raised-button (click)="sendEditEvent()" style="margin-left: 5px; ; width: 75px;" >Cofnij</button>
        </div>
    </div>
</section>