.component {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
  }


.end-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}