:host {
    display: flex;
    flex-direction: column;
    width: 50%; /* Set the width to 70% */
    margin: 0 auto; /* Center the component horizontally */
    align-items: center;
  }
  
p {
    font-family: 'Merriweather';
}

.nested-text {
    font-family: 'Roboto';
}

.main-table {
    display: flex;
    text-align: center;
    flex-direction: column;
}

.type-header {
    display: flex;
    flex-direction: column;
    text-align: center; /* Center the content horizontally */
    margin-bottom: 10px
}

.nested-td { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 10px;
}