.param-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .param-row-nested{
    display: inline-flex;
    align-items: center;
  }

  .param-row-nested > * {
    margin-right: 5px;
  }