<section *ngIf="contacts$ | async as contacts">
  <p style="font-size: larger; font-weight: bolder; font-family: 'Merriweather';"> Kontakty </p>
  <div *ngFor="let card of contacts; index as ind">

    <div class="contact-row">
      <div>
        <p class="upper-text">{{ card.contactName }} </p>
        <div class="down-text-with-icon">
          <mat-icon style="margin-right: 3px;">{{card.type}}</mat-icon>
          <p  style="font-family: 'Roboto';">{{ card.contact }} </p>
        </div>
      </div>

      <div *ngIf="isUserAuthenticated">
        <button mat-icon-button (click)="openDialogEdit(card)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteContact(card)">
          <mat-icon>remove_circle_outline</mat-icon>
        </button>
      </div>
    </div>

  </div>

</section>
