.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
}

mat-icon {
  margin-right: 3px;
}


.mat-mdc-button.mat-unthemed {
  --mdc-text-button-label-text-color: white !important;
}
