
form {
    margin: auto;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 20px;
    max-width: 800px;
  }

  .row {
    width: 100%;
    display: flex; 
    justify-content: space-between;
    align-items: center;
  }
  
  .toogle-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .note {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  
  ::ng-deep .mat-mdc-fab,  ::ng-deep .mat-mdc-mini-fab {
    box-shadow: none !important;
  }