<div *ngIf="isUserAuthenticated">
    <div style="display: inline-flex; justify-content: space-between; width: 100%;">
        <div class="button-row">
            <button mat-raised-button (click)="addEnv()" style="margin-left: 5px; background-color: #A89985;">Nowa Aplikacja</button>
            <button mat-raised-button (click)="sortingEnv()" style="margin-left: 5px; background-color: #A89985;">Sortowanie</button>
        </div>
        <div class="button-row"> 
            <button mat-raised-button (click)="addContact()" style="margin-left: 5px; background-color: #A89985;">Nowy Kontakt</button>
            <button mat-raised-button (click)="sortingContacts()" style="margin-left: 5px; background-color: #A89985;">Sortowanie</button>
        </div>
    </div>

    <mat-divider style="margin-bottom: 5px;"/>

    <div id="admin-components">
        <div *ngIf="envApps$ | async as envApps">
            <app-sorting-env-app [applications]="envApps" (applicationsChanged)="reRenderApps()"/>
            <app-new-env-app [applications]="envApps" (addedEvent)="reRenderApps()" />
        </div>
        <div *ngIf="contacts$ | async as contacts">
            <app-new-contact [contacts]="contacts" (addedEvent)="reRenderContacts()"/>
            <app-sorting-contacts [contacts]="contacts" (contactsChanged)="reRenderContacts()"/>
        </div>
    </div>
</div>

<div class="link-container-flex">
    <div class="left">
        <div *ngIf="envApps$ | async as envApps">
            <app-enviroment [envApps]="envApps" (envAppsChanged)="reRenderApps()"></app-enviroment>
        </div>
    </div >

    <div class="right">
        <div *ngIf="contacts$ | async as contacts">
            <app-contact [contacts]="contacts"  (contactsChanged)="reRenderContacts()"></app-contact>
        </div>
    </div>
</div>
