:host {
    display: flex;
    flex-direction: column;
    width: 85%; /* Make the parent component take up 100% of available space */
  }

.button-row {
    margin: 5px 0 5px 0;
    display: flex;
    align-items: center;
}

#admin-components > * {
margin: 15px 0 15px 0;
}


.link-container-flex {
    display: flex;
    justify-content: space-between;
}

.link-container-flex .left {
    flex: 0 0 49%;
    
}

.link-container-flex .right {
    flex: 0 0 49%;

}