/* You can add global styles to this file, and also import other style files */

@import "node_modules/angular-calendar/css/angular-calendar.css";

@import "~@angular/material/prebuilt-themes/indigo-pink.css";


.cal-month-view .cal-day-cell {
  min-height: auto !important;
  height: 65px !important;
}

.error {
   --mdc-snackbar-container-color: #930703;
   --mat-mdc-snack-bar-button-color: #fff;
   --mdc-snackbar-supporting-text-color: #fff;
}
.success {
  --mdc-snackbar-container-color: #15ee80;
  --mat-mdc-snack-bar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #fff;
}

